@font-face {
  font-family: 'Hatton Bold';
  src: local('Hatton Bold'), url('./fuentes/PP Hatton Bold 700.otf') format('opentype');
}

@font-face {
  font-family: 'Hatton Medium';
  src: local('Hatton Medium'), url('./fuentes/PP Hatton Medium 500.otf') format('opentype');
}

@font-face {
  font-family: 'Hatton Ultralight';
  src: local('Hatton Ultralight'), url('./fuentes/PP Hatton Ultralight 200.otf') format('opentype');
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons'), url('./fuentes/ttCommons/TT Commons Light.otf') format('opentype');
}


#root {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

/*Sección body*/
body {
  background-color: #a6a6a6;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


nav{
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  justify-items:center;
  align-items: center;
  height: 75px;
  padding: 5px 10%;
  text-align: center;
}

/*Sección para los enlaces*/
a {
  font-weight: 500;
  color: #322203;
  text-decoration: inherit;
}

/*Sección para los títulos más grandes*/
h1 {
  font-size: 1em;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
}

/*Sección especificos*/
#navt1{
  margin-right: auto;
}

#navt2{
  margin-left: auto;
}

#titulo{
  font-size: 2em;
  font-family: 'Hatton Medium', sans-serif;
}

#cuerpoIndex {
  margin-top: 40px; 
}

@media (min-width: 900px){
  #videoDemo{
    width: 640px;
    height: 360px;
  }
}

@media(max-width:840px){
  .additional-button{
    display:none;
  }
}

p{
  padding: 20px 0;
}

#butoonPrin{
  padding-top: 10px;
  margin-bottom: 10px;
}

.update-canvas{
  margin-bottom:10px;
}