.botones {
    display: flex;
    justify-content:space-between; /* Distribuye los elementos uniformemente */
    align-items: center; /* Centra los elementos verticalmente */
}

.icon {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img {
    max-width: 50%;
    height: auto;
    text-align: center;
}

.retrato {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50%;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif; /* Fuente Times New Roman */
    font-size: 40px; /* Tamaño de fuente */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.boton {
    background-color: #fff; 
    color: #000;
    border-color: #333; /* Sin borde */
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    margin: 10px; /* Agrega un margen de 10px alrededor del botón */
    font-family: 'Times New Roman', Times, serif; /* Fuente Times New Roman */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.preview-canvas{

}

.preview-image{
    width: 300px;
    height: 400px;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black
}

.preview-image-canvas{
    align-items: center;
    display:flex;
}

.image-information{
    display:block;
    margin:10px;
}



