.botones {
    display: flex;
    justify-content:space-around; 
    align-items: center; 
}
.icon {
    max-width: 20%;
    max-height: 20%;
    cursor: pointer;
}
.img {
    max-width: 100%;
    height: auto;
    text-align: center;
}
.retrato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 40px; 
    margin: 0;
}
.boton {
    background-color: #fff; 
    color: #000;
    border-color: #333;
    padding: 5% 5%; 
    margin: 10%; 
    font-family: 'Times New Roman', Times, serif; 
    font-size:1em; 
    cursor: pointer; 
    text-align: center;
}



